[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
isort = "*"

[packages]
pandas-datareader = "*"
psycopg2 = "*"
pymongo = {extras = ["zstd"], version = "*"}
arctic = "*"
python-dotenv = "*"

[requires]
python_version = "3.8"
